<p id="preview_body_1" class="text-gray-700">
    A cover letter is a three- or four-paragraph document to an employer explaining your interest in a
    specific job. It’s a one-page letter that is usually attached to your resume. This letter should also
    highlight your fitness for the advertised role.
  </p>

  <p id="preview_body_2" class="text-gray-700">
    Writing a cover letter as a mid-career professional is a bit different. But first, start with how you
    found out about the career opening and why you’re interested in the job position. Be specific; use
    the correct names and titles.
  </p>

  <p id="preview_body_3" class="text-gray-700">
    As you write this letter, use clear and readable words. You want to come across as professional
    and approachable, but not overly formal.
  </p>

  <p id="preview_body_4" class="text-gray-700">
    Next, provide examples of why you’re the right person for the job.
    <ul class="list-disc list-inside">
      <li>Don’t hesitate to use bullet points and include numbers that showcase your achievements.</li>
      <li>Rather than simply describe what you’ve done in previous jobs, show the recruiter or hiring manager what you can bring to the role.</li>
      <li>Express your passion and excitement to be part of the company and the team.</li>
    </ul>
  </p>

  <p id="preview_body_5" class="text-gray-700">
    Finally, provide your contact information and how you prefer to be reached. Offer to meet with the
    reader at their earliest convenience. Thank them for their time and attention, and let them know
    that you look forward to hearing from them soon.
  </p>

  <p id="preview_body_6" class="text-gray-700">
    Before you send your cover letter, read your draft out loud to quickly spot errors and wordy sentences.
    You can also ask a friend to review your cover letter. Good luck on your job search.
  </p>
