<!-- reset_password.html -->
{% extends 'base.html' %} {% block content %}
<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-10">
    <h2 class="text-2xl font-bold mb-4 text-center">Reset Your Password</h2>

    <!-- This is the password reset form -->

    <form method="POST">
      {% csrf_token %} {{ form.non_field_errors }}

      <div class="mb-4">
        <label for="password1" class="block text-gray-700 font-semibold"
          >New Password</label
        >
        <input
          type="password"
          id="password1"
          name="new_password1"
          placeholder="Enter new password"
          class="w-full px-3 py-2 border rounded border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
        {{ form.new_password1.errors }}
      </div>

      <div class="mb-4">
        <label for="password2" class="block text-gray-700 font-semibold"
          >Confirm New Password</label
        >
        <input
          type="password"
          id="password2"
          name="new_password2"
          placeholder="Confirm new password"
          class="w-full px-3 py-2 border rounded border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
        {{ form.new_password2.errors }}
      </div>

      <div class="flex justify-center items-center">
        <button
          type="submit"
          class="px-4 py-2 bg-blue-500 text-white rounded-md"
        >
          Reset Password
        </button>
      </div>
    </form>

    <div class="mt-6 text-center">
      <a href="{% url 'login' %}" class="text-blue-500 hover:underline"
        >Back to login</a
      >
    </div>
  </div>
</div>
{% endblock content %}
