{% extends "base.html" %} {% block content %} {% load static %}
<nav class="bg-white shadow-md">
  <div class="container mx-auto px-6 py-4 flex justify-center items-center">
    <div class="text-lg font-semibold">
      <a href="{% url 'home' %}"
        ><img src="{% static 'images/logo.png' %}" alt="logo" class="w-30" />
      </a>
    </div>
  </div>
</nav>

<div class="font-[sans-serif] bg-white flex items-center md:h-screen p-4">
  <div class="w-full max-w-5xl mx-auto">
    <div
      class="grid md:grid-cols-2 gap-16 bg-gray-50 shadow w-full sm:p-8 p-6 rounded-xl relative"
    >
      <div>
        <div class="mb-16">
          <a href="javascript:void(0)">
            <img
              src="{% static 'images/logo.png' %}"
              alt="logo"
              class="w-40 inline-block"
            />
          </a>
        </div>
        <div class="space-y-8">
          <div class="flex items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 bg-blue-600 fill-white rounded-full p-1 shrink-0"
              viewBox="0 0 24 24"
            >
              <path
                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
              ></path>
            </svg>
            <h4 class="text-gray-800 text-base font-semibold">
              Create Your Account
            </h4>
          </div>
          <div class="flex items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 bg-blue-600 fill-white rounded-full p-1 shrink-0"
              viewBox="0 0 24 24"
            >
              <path
                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
              ></path>
            </svg>
            <h4 class="text-gray-800 text-base font-semibold">
              Simple & Secure Registration
            </h4>
          </div>
          <div class="flex items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 bg-blue-600 fill-white rounded-full p-1 shrink-0"
              viewBox="0 0 24 24"
            >
              <path
                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
              ></path>
            </svg>
            <h4 class="text-gray-800 text-base font-semibold">
              Terms and Conditions Agreement
            </h4>
          </div>
        </div>
      </div>

      <form
        class="md:max-w-sm w-full mx-auto"
        method="POST"
        action="{% url 'register' %}"
      >
        {% csrf_token %} {% if form.errors %}
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
          role="alert"
        >
          <strong class="font-bold">Oops! Something went wrong:</strong>
          <ul class="mt-2">
            {% for field in form %} {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %} {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="mb-8">
          <h3 class="text-gray-800 text-2xl font-extrabold">Register</h3>
        </div>

        <div class="space-y-4">
          <div>
            <label class="text-gray-800 text-sm mb-2 block" for="username"
              >Name</label
            >
            <div class="relative flex items-center">
              <input
                id="username"
                name="username"
                type="text"
                required
                class="bg-transparent border border-gray-400 w-full text-gray-800 text-sm pl-4 pr-10 py-3 rounded-xl outline-blue-600"
                placeholder="Enter name"
                value="{{ form.username.value }}"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#bbb"
                stroke="#bbb"
                class="w-4 h-4 absolute right-4"
                viewBox="0 0 24 24"
              >
                <circle cx="10" cy="7" r="6"></circle>
                <path
                  d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z"
                ></path>
              </svg>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block" for="Email"
              >Email</label
            >
            <div class="relative flex items-center">
              <input
                id="email"
                name="email"
                type="email"
                required
                class="bg-transparent border border-gray-400 w-full text-gray-800 text-sm pl-4 pr-10 py-3 rounded-xl outline-blue-600"
                placeholder="Enter Email"
                value="{{ form.email.value }}"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#bbb"
                class="w-4 h-4 absolute right-4 cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                />
              </svg>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block" for="password1"
              >Password</label
            >
            <div class="relative flex items-center">
              <input
                id="password1"
                name="password1"
                type="password"
                required
                class="bg-transparent border border-gray-400 w-full text-gray-800 text-sm pl-4 pr-10 py-3 rounded-xl outline-blue-600"
                placeholder="Enter password"
                value="{{ form.password1.value }}"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#bbb"
                stroke="#bbb"
                class="w-4 h-4 absolute right-4 cursor-pointer"
                viewBox="0 0 128 128"
              >
                <path
                  d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                ></path>
              </svg>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block" for="password2"
              >Re-type Password</label
            >
            <div class="relative flex items-center">
              <input
                id="password2"
                name="password2"
                type="password

"
                required
                class="bg-transparent border border-gray-400 w-full text-gray-800 text-sm pl-4 pr-10 py-3 rounded-xl outline-blue-600"
                placeholder="Enter password"
                value="{{ form.password2.value }}"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#bbb"
                stroke="#bbb"
                class="w-4 h-4 absolute right-4 cursor-pointer"
                viewBox="0 0 128 128"
              >
                <path
                  d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                ></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="mt-12">
          <button
            type="submit"
            class="w-full py-3 px-6 text-sm tracking-wide font-semibold rounded-xl bg-blue-600 hover:bg-blue-700 text-white focus:outline-none"
          >
            Create Account
          </button>
        </div>

        <p class="text-sm text-gray-800 mt-6 text-center">
          Already have an account?
          <a
            href="{% url 'login' %}"
            class="text-blue-600 font-semibold hover:underline ml-1"
            >Login here</a
          >
        </p>
      </form>
      <div
        class="divider absolute left-0 right-0 mx-auto w-1 h-full border-l border-gray-400 max-md:hidden"
      ></div>
    </div>
  </div>
</div>

{% endblock content %}
