<div class="bg-white p-8 rounded-lg shadow-lg max-w-2xl w-full">
    <!-- Header Section -->
    <a
  
    class="w-full p-4 flex  justify-center mb-16 text-xl bg-blue-500 text-white font-bold rounded "
  > Live Preview 
  </a>
    <div class="flex justify-between items-start mb-8 ">
      <div>
        <h1 id="preview_name" class="text-2xl font-bold text-blue-800 leading-tight">Elana Mohammad, MD</h1>
        <p id="preview_address" class="text-gray-700">9436 Feather Street</p>
        <p id="preview_city_state_zip">Satyagiri, New Delhi,823001</p>
        <p id="preview_phone" class="text-gray-700">+91 12345 67890</p>
        <p id="preview_email" class="text-blue-600">hello@reallygreatsite.com</p>
        <p id="preview_website" class="text-blue-600">www.reallygreatsite.com</p>
      </div>
    </div>
  
    <!-- Date Section -->
    <div class="mb-8">
      <p id="preview_date" class="text-gray-700">July 27, 2025</p>
    </div>
  
    <!-- Recipient Section -->
    <div class="mb-8">
      <p id="preview_recipient_name" class="text-gray-700 font-semibold">Muhammad Patel</p>
      <p id="preview_recipient_title" class="text-gray-700">Recruitment Consultant</p>
      <p id="preview_company_name" class="text-gray-700">The Penshaw Medical Center</p>
      <p id="preview_company_address" class="text-gray-700">77 Satya Giri Complex, Phalke Road</p>
      <p id="preview_company_city_state_zip" class="text-gray-700">Mumbai, Maharashtra 8754</p>
    </div>
  
    <!-- Body Section -->
    <div class="mb-8 space-y-4">
    <p 
    name="recipient_name"
    placeholder="Muhammad Patel"class="text-gray-700">Dear <span id="preview_recipient_name_alt">Muhammad Patel</span><span>,</span></p>
  
      {% include "TemplatesForms/form_1/description.html" %}
  
      <p id="preview_closing" class="text-gray-700">With best regards,</p>
   
      <span id="preview_name_alt" class="text-gray-700 font-semibold">Dr. Elana Mohammad</span>, <span id="preview_your_title" class="text-gray-700 font-semibold">MD</span></p>
    </div>
    
  </div>
  